doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title SocketIO practice
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        header
            h1 SocketIO 실시간 채팅
        main
            div#welcome
                h4 현재 대화 중인 채팅방 목록
                    ul
                form
                    input(placeholder="채팅방 이름", required, type="text")
                    button 들어가기
            div#room 
                h3
                ul 
                form#nickname
                    input(placeholder="닉네임을 입력하세요.", required, type="text")
                    button 설정
                form#message
                    input(placeholder="메시지를 입력하세요.", required, type="text")
                    button 보내기
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")